body {
    background-color: rgb(26, 26, 26);
    color: rgb(15, 240, 214);
}

a {
    text-decoration: none;
    color: rgb(15, 240, 214);
    font-size: large;
    padding: 24px;
}

p {
    text-align: center;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.block {
    display: inline-block;
    width: 270px;
    height: 200px;
    background-color: rgb(45, 44, 42);
    border-radius: 30px;
    margin: 24px;    
  }
  
  .container {
    text-align: center;
  }
  
  .block img {
   width: 200px;
   height: 200px;
  }